header{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo-dark{
    width: 200px;
    height: 300px;
}

li,a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin:  25px;
    color: black;
}


.container{
    display: flex;
    height: 500px;
    width: 100%;
}


.container-left{
    margin-top: 290px;
    margin-left: 100px;
}

.content-digital{
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 600px;
    margin-left: 30px;
    flex-direction: column;
    
}

.text-explicativo{
  margin-left: 30px;   
}

.container-cards{
    display: flex;
    margin: 50px; 
    width: 100%;
    height: 500px;
    
}

.cards{ 
 margin-right: 700px;
 align-items: center;
 justify-content: center;
 text-align: center;
    
}


.icon-api{
    margin-top: 20px;
}

.lasted-article{
    display: flex;
    width: 100%;
    height: 400px;
}

.cards-articles{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-confetti{
    width: 400px;
    height: 300px;
}